
/*задний фон*/
body {
    background: linear-gradient(to bottom right, #001f3f, #512da8, #ff6363, #ffc300, #d4af37, #808080);
    color: #512da8;
    font-family: Arial, sans-serif;
}

h1,
h2 {
    color: #7e57c2;
    /* Medium purple headers */
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Viewport Height */
    text-align: center;
}

.box {
    border: 1px solid #512da8;
    /* Dark purple border */
    border-radius: 15px;
    padding: 30px;
    background-color: #ffffff;
    /* White background */
    width: 35%;
    word-wrap: break-word;
}

select,
button,
div {
    margin: 10px;
}

select,
button {
    background-color: #7e57c2;
    /* Medium-Fair purple select and button background */
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

select:hover,
button:hover {
    background-color: #512da8;
    /* Darker purple select and button on hover */
    color: white;
}

#clearButton {
    margin-left: 10px;
}

/*задний фон*/

/*кнопка по страницам*/
.top-right-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #7e57c2;
    /* Medium-Fair purple select and button background */
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.top-right-button:hover {
    background-color: #512da8;
    /* Darker purple select and button on hover */
    color: white;
}

/*кнопка по страницам*/

/*левая кнопка*/
.top-left-button {
    position: fixed;
    top: 20px;
    left: 0px;
    background-color: #777777;
    /* Medium-Fair purple select and button background */
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.top-left-button:hover {
    background-color: #313131;
    /* Darker purple select and button on hover */
    color: white;
}

/*левая кнопка*/